    <div class="container">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field w-50 pl-2">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
		  </div>

	
		
		 <div class="actions field w-25 p-2"> 
    	<%= f.submit "Send Recovery Email", class: "btn btn-lg signup-btn btn-block" %>
  		</div>
<% end %>
		<%= render "devise/shared/links" %>
</div>